<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/config :: config}"></head>

<body>
<!-- Header -->
<header th:replace="~{common/loginedHeader}"></header>

<!-- 주소 추가 섹션 -->
<section id="address" class="container my-5">
  <h3>주소 추가</h3>
  <form th:action="@{/address}" method="post">
    <div class="mb-3">
      <label for="addressAlias" class="form-label">주소 별칭</label>
      <input type="text" class="form-control" id="addressAlias" name="addressAlias" placeholder="예: 집, 회사" required>
    </div>
    <div class="mb-3">
      <label for="sample4_postcode" class="form-label">우편번호</label>
      <div class="input-group">
        <input type="text" class="form-control" id="sample4_postcode" name="addressPostalNumber" placeholder="우편번호" required>
        <button type="button" class="btn btn-secondary" onclick="sample4_execDaumPostcode()">우편번호 찾기</button>
      </div>
    </div>
    <div class="mb-3">
      <label for="roadAddress" class="form-label">도로명 주소</label>
      <input type="text" class="form-control" id="sample4_roadAddress" name="addressRoadname" placeholder="도로명 주소" required>
    </div>
    <div class="mb-3">
      <label for="detailAddress" class="form-label">상세 주소</label>
      <input type="text" class="form-control" id="sample4_detailAddress" name="addressDetail" placeholder="상세 주소" required>
    </div>
    <button type="submit" class="btn btn-primary">주소 추가</button>
  </form>
</section>

<!-- Footer -->
<footer th:replace="~{common/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
  function sample4_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        var roadAddr = data.roadAddress;
        document.getElementById('sample4_postcode').value = data.zonecode;
        document.getElementById("sample4_roadAddress").value = roadAddr;
      }
    }).open();
  }
</script>

</body>
</html>