<!DOCTYPE html>
<html>
<head th:replace="~{common/config :: config}">

</head>
<body>


<header th:replace="~{common/header}"/>

<section id="billboard" class="position-relative d-flex align-items-center py-5 bg-light-gray"
         style="background-image: url(/images/banner-image-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
  <div
      class="position-absolute end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next main-slider-button-next">
    <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2"
         width="80" height="80">
      <use xlink:href="#alt-arrow-right-outline"></use>
    </svg>
  </div>
  <div
      class="position-absolute start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev main-slider-button-prev">
    <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80"
         height="80">
      <use xlink:href="#alt-arrow-left-outline"></use>
    </svg>
  </div>
  <div class="swiper main-swiper">
    <div class="swiper-wrapper d-flex align-items-center">
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
            <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
              <div class="banner-content">
                <h2>The Fine Print Book Collection</h2>
                <p>Best Offer Save 30%. Grab it now!</p>
                <a href="index.html" class="btn mt-3">Shop Collection</a>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="image-holder">
                <img src="https://image.aladin.co.kr/product/12899/79/cover500/e895464890_1.jpg"
                     class="img-fluid" alt="banner" style="height:500px">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
            <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
              <div class="banner-content">
                <h2>How Innovation works</h2>
                <p>Discount available. Grab it now!</p>
                <a href="index.html" class="btn mt-3">Shop Product</a>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="image-holder">
                <img src="/images/banner-image1.png" class="img-fluid" alt="banner">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
            <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
              <div class="banner-content">
                <h2>Your Heart is the Sea</h2>
                <p>Limited stocks available. Grab it now!</p>
                <a href="index.html" class="btn mt-3">Shop Collection</a>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="image-holder">
                <img src="/images/banner-image.png" class="img-fluid" alt="banner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--    <section id="best-selling-items" class="position-relative padding-large ">-->
<!--      <div class="container">-->
<!--        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">-->
<!--          <h3 class="d-flex align-items-center">베스트 셀러</h3>-->
<!--          <a href="index.html" class="btn">View All</a>-->
<!--        </div>-->
<!--        <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">-->
<!--          <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">-->
<!--            <use xlink:href="#alt-arrow-right-outline"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">-->
<!--          <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">-->
<!--            <use xlink:href="#alt-arrow-left-outline"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <div class="swiper product-swiper">-->
<!--          <div class="swiper-wrapper">-->
<!--            <div class="swiper-slide">-->
<!--              <div class="card position-relative p-4 border rounded-3">-->
<!--                <div class="position-absolute">-->
<!--                  <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">10% off</p>-->
<!--                </div>-->
<!--                <img src="images/product-item1.png" class="img-fluid shadow-sm" alt="product item">-->
<!--                <h6 class="mt-4 mb-0 fw-bold"><a href="index.html">House of Sky Breath</a></h6>-->
<!--                <div class="review-content d-flex">-->
<!--                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>-->

<!--                  <div class="rating text-warning d-flex align-items-center">-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>-->
<!--                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">-->
<!--                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"-->
<!--                    data-bs-title="Tooltip on top">-->
<!--                    <svg class="cart">-->
<!--                      <use xlink:href="#cart"></use>-->
<!--                    </svg>-->
<!--                  </button>-->
<!--                  <a href="#" class="btn btn-dark">-->
<!--                    <span>-->
<!--                      <svg class="wishlist">-->
<!--                        <use xlink:href="#heart"></use>-->
<!--                      </svg>-->
<!--                    </span>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--              <div class="card position-relative p-4 border rounded-3">-->
<!--                <img src="images/product-item2.png" class="img-fluid shadow-sm" alt="product item">-->
<!--                <h6 class="mt-4 mb-0 fw-bold"><a href="index.html">Heartland Stars</a></h6>-->
<!--                <div class="review-content d-flex">-->
<!--                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>-->

<!--                  <div class="rating text-warning d-flex align-items-center">-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>-->
<!--                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">-->
<!--                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"-->
<!--                    data-bs-title="Tooltip on top">-->
<!--                    <svg class="cart">-->
<!--                      <use xlink:href="#cart"></use>-->
<!--                    </svg>-->
<!--                  </button>-->
<!--                  <a href="#" class="btn btn-dark">-->
<!--                    <span>-->
<!--                      <svg class="wishlist">-->
<!--                        <use xlink:href="#heart"></use>-->
<!--                      </svg>-->
<!--                    </span>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--              <div class="card position-relative p-4 border rounded-3">-->
<!--                <img src="images/product-item3.png" class="img-fluid shadow-sm" alt="product item">-->
<!--                <h6 class="mt-4 mb-0 fw-bold"><a href="index.html">Heavenly Bodies</a></h6>-->
<!--                <div class="review-content d-flex">-->
<!--                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>-->

<!--                  <div class="rating text-warning d-flex align-items-center">-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>-->
<!--                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">-->
<!--                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"-->
<!--                    data-bs-title="Tooltip on top">-->
<!--                    <svg class="cart">-->
<!--                      <use xlink:href="#cart"></use>-->
<!--                    </svg>-->
<!--                  </button>-->
<!--                  <a href="#" class="btn btn-dark">-->
<!--                    <span>-->
<!--                      <svg class="wishlist">-->
<!--                        <use xlink:href="#heart"></use>-->
<!--                      </svg>-->
<!--                    </span>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--              <div class="card position-relative p-4 border rounded-3">-->
<!--                <div class="position-absolute">-->
<!--                  <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">10% off</p>-->
<!--                </div>-->
<!--                <img src="images/product-item4.png" class="img-fluid shadow-sm" alt="product item">-->
<!--                <h6 class="mt-4 mb-0 fw-bold"><a href="index.html">His Saving Grace</a></h6>-->
<!--                <div class="review-content d-flex">-->
<!--                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>-->

<!--                  <div class="rating text-warning d-flex align-items-center">-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>-->
<!--                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">-->
<!--                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"-->
<!--                    data-bs-title="Tooltip on top">-->
<!--                    <svg class="cart">-->
<!--                      <use xlink:href="#cart"></use>-->
<!--                    </svg>-->
<!--                  </button>-->
<!--                  <a href="#" class="btn btn-dark">-->
<!--                    <span>-->
<!--                      <svg class="wishlist">-->
<!--                        <use xlink:href="#heart"></use>-->
<!--                      </svg>-->
<!--                    </span>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--              <div class="card position-relative p-4 border rounded-3">-->
<!--                <img src="images/product-item5.png" class="img-fluid shadow-sm" alt="product item">-->
<!--                <h6 class="mt-4 mb-0 fw-bold"><a href="index.html">My Dearest Darkest</a></h6>-->
<!--                <div class="review-content d-flex">-->
<!--                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>-->

<!--                  <div class="rating text-warning d-flex align-items-center d-flex align-items-center">-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>-->
<!--                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">-->
<!--                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"-->
<!--                    data-bs-title="Tooltip on top">-->
<!--                    <svg class="cart">-->
<!--                      <use xlink:href="#cart"></use>-->
<!--                    </svg>-->
<!--                  </button>-->
<!--                  <a href="#" class="btn btn-dark">-->
<!--                    <span>-->
<!--                      <svg class="wishlist">-->
<!--                        <use xlink:href="#heart"></use>-->
<!--                      </svg>-->
<!--                    </span>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="swiper-slide">-->
<!--              <div class="card position-relative p-4 border rounded-3">-->
<!--                <img src="images/product-item6.png" class="img-fluid shadow-sm" alt="product item">-->
<!--                <h6 class="mt-4 mb-0 fw-bold"><a href="index.html">The Story of Success</a></h6>-->
<!--                <div class="review-content d-flex">-->
<!--                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>-->

<!--                  <div class="rating text-warning d-flex align-items-center">-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                    <svg class="star star-fill">-->
<!--                      <use xlink:href="#star-fill"></use>-->
<!--                    </svg>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>-->
<!--                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">-->
<!--                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"-->
<!--                    data-bs-title="Tooltip on top">-->
<!--                    <svg class="cart">-->
<!--                      <use xlink:href="#cart"></use>-->
<!--                    </svg>-->
<!--                  </button>-->
<!--                  <a href="#" class="btn btn-dark">-->
<!--                    <span>-->
<!--                      <svg class="wishlist">-->
<!--                        <use xlink:href="#heart"></use>-->
<!--                      </svg>-->
<!--                    </span>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->


<!-- best-selling-items 섹션 -->
<section id="best-selling-items" class="position-relative padding-large">
  <div class="container">
    <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
      <h3 class="d-flex align-items-center">한강 2024 노벨문학상 수상 <img src="/images/award-icon.png"
                                                                  style="padding-bottom:5px; margin-left:10px;"/>
      </h3>
      <a href="index.html" class="btn">View All</a>
    </div>
    <!-- Swiper navigation buttons -->
    <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-button-next">
      <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2"
           width="80" height="80">
        <use xlink:href="#alt-arrow-right-outline"></use>
      </svg>
    </div>
    <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-button-prev">
      <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2"
           width="80" height="80">
        <use xlink:href="#alt-arrow-left-outline"></use>
      </svg>
    </div>

    <div class="swiper product-swiper">
      <div class="swiper-wrapper">
        <!-- 책 리스트를 반복하여 렌더링 -->
        <div class="swiper-slide" th:each="book : ${books}">
          <!-- 카드 전체 클릭 시 링크 이동 -->
          <div class="card position-relative p-4 border rounded-3"
               th:onclick="|window.location.href='/books/' + ${book.bookId}|"
               style="cursor: pointer; height: 525px;">

            <!-- 할인 정보 -->
            <div class="position-absolute">
              <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2"
                 th:text="${book.bookDiscount} + '% off'">10% off</p>
            </div>

            <!-- 책 이미지 -->
            <img th:src="${book.bookThumbnailImageUrl}" class="img-fluid shadow-sm"
                 alt="book cover">

            <!-- 책 제목 및 상세 정보 -->
            <h6 class="mt-4 mb-0 fw-bold" th:text="${book.bookName}">Book Title</h6>

            <!-- 작가 이름 -->
            <!--              <p class="my-2 me-2 fs-6 text-black-50"><span th:each="item, iterStat : ${book.authors}"><span th:text="${item.authorName}"></span><span th:if="${!iterStat.last}">, </span></span></p>-->


            <!-- 리뷰 별점 -->
            <div class="review-content d-flex">
              <div class="rating text-warning d-flex align-items-center">
                <svg class="star star-fill">
                  <use xlink:href="#star-fill"></use>
                </svg>
                <svg class="star star-fill">
                  <use xlink:href="#star-fill"></use>
                </svg>
                <svg class="star star-fill">
                  <use xlink:href="#star-fill"></use>
                </svg>
                <svg class="star star-fill">
                  <use xlink:href="#star-fill"></use>
                </svg>
                <svg class="star star-fill">
                  <use xlink:href="#star-fill"></use>
                </svg>

             

            <!-- 가격 정보 -->
            <span class="price text-primary fw-bold mb-2 fs-5" th:text="${book.salePrice} + ' 원'">$0.00</span>

            <!-- 액션 버튼 (카드 클릭 제외) -->
            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
              <button type="button" class="btn btn-dark cart-button"
                      th:onclick="|window.location.href='/cart/add?bookId=' + ${book.bookId}|"
                      data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Tooltip on top">
                <svg class="cart">
                  <use xlink:href="#cart"></use>
                </svg>
              </button>
              <a href="#" class="btn btn-dark wishlist-button">
                <span><svg class="wishlist"><use xlink:href="#heart"></use></svg></span>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- 페이지네이션 추가 -->
    <div class="swiper-pagination" style="margin-bottom: 2em"></div>
  </div>
</section>

<section id="items-listing" class="padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="featured border rounded-3 p-4">
          <div class="section-title overflow-hidden mb-5 mt-2">
            <h3 class="d-flex flex-column mb-0">Featured</h3>
          </div>
          <div class="items-lists">
            <div class="item d-flex">
              <img src="/images/product-item2.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Echoes of the Ancients</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
            <hr class="gray-400">
            <div class="item d-flex">
              <img src="/images/product-item1.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">The Midnight Garden</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
            <hr>
            <div class="item d-flex">
              <img src="/images/product-item3.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Shadow of the Serpent</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="latest-items border rounded-3 p-4">
          <div class="section-title overflow-hidden mb-5 mt-2">
            <h3 class="d-flex flex-column mb-0">Latest items</h3>
          </div>
          <div class="items-lists">
            <div class="item d-flex">
              <img src="images/product-item4.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Whispering Winds</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
            <hr class="gray-400">
            <div class="item d-flex">
              <img src="images/product-item5.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">The Forgotten Realm</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
            <hr>
            <div class="item d-flex">
              <img src="images/product-item6.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Moonlit Secrets</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="best-reviewed border rounded-3 p-4">
          <div class="section-title overflow-hidden mb-5 mt-2">
            <h3 class="d-flex flex-column mb-0">Best reviewed</h3>
          </div>
          <div class="items-lists">
            <div class="item d-flex">
              <img src="images/product-item7.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">The Crystal Key</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
            <hr class="gray-400">
            <div class="item d-flex">
              <img src="images/product-item8.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Starlight Sonata</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
            <hr>
            <div class="item d-flex">
              <img src="images/product-item9.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Tales of the Enchanted Forest</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="on-sale border rounded-3 p-4">
          <div class="section-title overflow-hidden mb-5 mt-2">
            <h3 class="d-flex flex-column mb-0">On sale</h3>
          </div>
          <div class="items-lists">
            <div class="item d-flex">
              <img src="images/product-item10.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">The Phoenix Chronicles</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5"><s
                    class="text-black-50">$1666</s>
                      $999</span>
              </div>
            </div>
            <hr class="gray-400">
            <div class="item d-flex">
              <img src="images/product-item11.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Dreams of Avalon</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5"><s class="text-black-50">$500</s>
                      $410</span>
              </div>
            </div>
            <hr>
            <div class="item d-flex">
              <img src="images/product-item12.png" class="img-fluid shadow-sm" alt="product item">
              <div class="item-content ms-3">
                <h6 class="mb-0 fw-bold"><a href="index.html">Legends of the Dragon Isles</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
                <span class="price text-primary fw-bold mb-2 fs-5"><s class="text-black-50">$600</s>
                      $500</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="latest-posts" class="padding-large">
  <div class="container">
    <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
      <h3 class="d-flex align-items-center">Latest posts</h3>
      <a href="index.html" class="btn">View All</a>
    </div>
    <div class="row">
      <div class="col-md-3 posts mb-4">
        <img src="images/post-item1.jpg" alt="post image" class="img-fluid rounded-3">
        <a href="blog.html" class="fs-6 text-primary">Books</a>
        <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">10 Must-Read
          Books of the Year: Our Top Picks!</a></h4>
        <p class="mb-2">Dive into the world of cutting-edge technology with our latest blog post,
          where we highlight
          five essential gadge. <span><a class="text-decoration-underline text-black-50"
                                         href="index.html">Read More</a></span>
        </p>
      </div>
      <div class="col-md-3 posts mb-4">
        <img src="images/post-item2.jpg" alt="post image" class="img-fluid rounded-3">
        <a href="blog.html" class="fs-6 text-primary">Books</a>
        <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">The Fascinating
          Realm of Science Fiction</a></h4>
        <p class="mb-2">Explore the intersection of technology and sustainability in our latest blog
          post. Learn about
          the innovative <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span>
        </p>
      </div>
      <div class="col-md-3 posts mb-4">
        <img src="images/post-item3.jpg" alt="post image" class="img-fluid rounded-3">
        <a href="blog.html" class="fs-6 text-primary">Books</a>
        <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">Finding Love in
          the Pages of a Book</a></h4>
        <p class="mb-2">Stay ahead of the curve with our insightful look into the rapidly evolving
          landscape of
          wearable technology. <span><a class="text-decoration-underline text-black-50"
                                        href="index.html">Read More</a></span>
        </p>
      </div>
      <div class="col-md-3 posts mb-4">
        <img src="images/post-item4.jpg" alt="post image" class="img-fluid rounded-3">
        <a href="blog.html" class="fs-6 text-primary">Books</a>
        <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">Reading for
          Mental Health: How Books Can Heal and Inspire</a></h4>
        <p class="mb-2">In today's remote work environment, productivity is key. Discover the top
          apps and tools that
          can help you stay <span><a class="text-decoration-underline text-black-50"
                                     href="index.html">Read More</a></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="instagram">
  <div class="container">
    <div class="text-center mb-4">
      <h3>Instagram</h3>
    </div>
    <div class="row">
      <div class="col-md-2">
        <figure class="instagram-item position-relative rounded-3">
          <a href="https://templatesjungle.com/" class="image-link position-relative">
            <div class="icon-overlay position-absolute d-flex justify-content-center">
              <svg class="instagram">
                <use xlink:href="#instagram"></use>
              </svg>
            </div>
            <img src="images/insta-item1.jpg" alt="instagram"
                 class="img-fluid rounded-3 insta-image">
          </a>
        </figure>
      </div>
      <div class="col-md-2">
        <figure class="instagram-item position-relative rounded-3">
          <a href="https://templatesjungle.com/" class="image-link position-relative">
            <div class="icon-overlay position-absolute d-flex justify-content-center">
              <svg class="instagram">
                <use xlink:href="#instagram"></use>
              </svg>
            </div>
            <img src="images/insta-item2.jpg" alt="instagram"
                 class="img-fluid rounded-3 insta-image">
          </a>
        </figure>
      </div>
      <div class="col-md-2">
        <figure class="instagram-item position-relative rounded-3">
          <a href="https://templatesjungle.com/" class="image-link position-relative">
            <div class="icon-overlay position-absolute d-flex justify-content-center">
              <svg class="instagram">
                <use xlink:href="#instagram"></use>
              </svg>
            </div>
            <img src="images/insta-item3.jpg" alt="instagram"
                 class="img-fluid rounded-3 insta-image">
          </a>
        </figure>
      </div>
      <div class="col-md-2">
        <figure class="instagram-item position-relative rounded-3">
          <a href="https://templatesjungle.com/" class="image-link position-relative">
            <div class="icon-overlay position-absolute d-flex justify-content-center">
              <svg class="instagram">
                <use xlink:href="#instagram"></use>
              </svg>
            </div>
            <img src="images/insta-item4.jpg" alt="instagram"
                 class="img-fluid rounded-3 insta-image">
          </a>
        </figure>
      </div>
      <div class="col-md-2">
        <figure class="instagram-item position-relative rounded-3">
          <a href="https://templatesjungle.com/" class="image-link position-relative">
            <div class="icon-overlay position-absolute d-flex justify-content-center">
              <svg class="instagram">
                <use xlink:href="#instagram"></use>
              </svg>
            </div>
            <img src="images/insta-item5.jpg" alt="instagram"
                 class="img-fluid rounded-3 insta-image">
          </a>
        </figure>
      </div>
      <div class="col-md-2">
        <figure class="instagram-item position-relative rounded-3">
          <a href="https://templatesjungle.com/" class="image-link position-relative">
            <div class="icon-overlay position-absolute d-flex justify-content-center">
              <svg class="instagram">
                <use xlink:href="#instagram"></use>
              </svg>
            </div>
            <img src="images/insta-item6.jpg" alt="instagram"
                 class="img-fluid rounded-3 insta-image">
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>

<footer th:replace="~{common/footer :: footer}"/>
<script src="/js/index.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<!-- 로그인 실패 시 Alert창 띄우는 용도 -->
<div id="loginFailedMessage" th:text="${loginFailedMessage}" style="display: none;"></div>
<script>
  // loginFailedMessage가 있는 경우 alert 창을 띄웁니다.
  window.addEventListener('DOMContentLoaded', () => {
    const loginFailedMessageElement = document.getElementById('loginFailedMessage');
    const loginFailedMessage = loginFailedMessageElement ? loginFailedMessageElement.textContent
        : null;

    if (loginFailedMessage) {
      alert(loginFailedMessage);
    }
  });
</script>

</body>
</html>