<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/config :: config}">
    <title>작가 관리</title>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<header th:replace="~{common/adminHeader :: header}"/>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-primary text-white text-center">
                    <h3>작가 관리</h3>
                </div>
                <div class="card-body">
                    <!-- authors.html -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="fw-bold">작가 이름</th>
                            <th class="fw-bold">작가 소개</th>
                            <th class="fw-bold">편집</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="author : ${authors}">
                            <td th:text="${author.authorName}"></td>
                            <td th:text="${author.authorInfo}"></td>
                            <td>
                                <!-- 드롭다운 버튼 -->
                                <div class="dropdown">
                                    <a href="#" class="text-primary text-decoration-none dropdown-toggle mx-2"
                                       role="button"
                                       th:id="'dropdownMenuLink-' + ${author.authorId}"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/images/more-icon.png"/>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        th:attr="aria-labelledby='dropdownMenuLink-' + ${author.authorId}">
                                        <li>
                                            <a class="dropdown-item"
                                               th:href="@{/admin/authors/{authorId}(authorId=${author.authorId})}">
                                                수정
                                            </a>
                                        </li>
                                        <li>
                                            <form th:action="@{/admin/authors/{authorId}(authorId=${author.authorId})}"
                                                  method="post" class="d-inline">
                                                <button class="dropdown-item text-danger" type="submit"
                                                        onclick="return confirm('정말 삭제하시겠습니까?')">삭제
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" onclick="location.href='/admin/authors/create'">새 작가 추가</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript 함수 -->
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        const editDropdowns = document.querySelectorAll('.dropdown-toggle');

        editDropdowns.forEach(dropdown => {
            // '편집' 버튼에서 ▼ 제거
            dropdown.classList.remove('dropdown-toggle');
        });
    });

</script>

<div th:replace="~{common/pagination :: pagination(${baseUrl}, ${authors}, ${extraParams})}"></div>

<footer th:replace="~{common/footer :: footer}"/>
</body>
</html>
